<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h2>Registeration Form</h2>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" value="" name="username" formControlName="username"  placeholder="Enter username"/>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text"  class="form-control" value="" name="email" formControlName="email" placeholder="Enter email"/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="text" class="form-control" value="" name="password" formControlName="password"  placeholder="Enter password"/>
                </div>

                <div class="form-group">
                    <label for="mobile">Mobile:</label>
                    <input type="text" class="form-control" value="" name="mobile" formControlName="mobile" placeholder="Enter mobile"/>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</div> -->



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    <h6>Register Yourself !!</h6>
                </div>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="label">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="username"
                            placeholder="Enter username">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="label">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email"
                          placeholder="Enter email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" formControlName="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="label">Mobile</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="mobile"
                            placeholder="Enter mobile">
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <a style="color: #fff;margin-top: 10px;" routerLink="/login">Already registered?Click to login</a>
            </div>
        </div>
    </div>
</div>
