<div class="container">
  <div class="row">
    <div class="select_change">
      <select style="max-width:10%;" (change)="onFieldValueChange($event)">
        <option selected disabled>Select Age</option>
        <option *ngFor="let agedata of highDataAge">{{agedata}}</option>
      </select>
    </div>

  <div class="chart_title">
        <highcharts-chart 
        [Highcharts]="Highcharts"
        [options]="chartOptions" 
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
  </div>
  </div>
</div>





