<!-- <div class="container-fluid">
  <div class="form-group">
    <select (change)="onFieldValueChange($event)">
      <option value="33">33</option>
      <option value="30">30</option>
      <option value="28">28</option>
    </select>
  </div>
 
  <div>

    <highcharts-chart 
    [Highcharts]="Highcharts"
    [options]="chartOptions"
  
    style="width: 100%; height: 400px; display: block;"
  ></highcharts-chart>
  </div>

</div> -->

<div class="container">
  <div class="row">
    <div class="select_change">
      <select style="max-width:10%;" (change)="onFieldValueChange($event)">
        <option selected disabled>Select Age</option>
        <option *ngFor="let agedata of highDataAge">{{agedata}}</option>
        <!-- <option value="33">33</option>
        <option value="30">30</option>
        <option value="28">28</option> -->
      </select>
    </div>

  <div class="chart_title">
        <highcharts-chart 
        [Highcharts]="Highcharts"
        [options]="chartOptions" 
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
  </div>
  </div>
</div>





